/* 
.Tab:after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
.Tab h2 {
    font-size: 1.3em;
    font-weight: normal;
    margin: 0 100%;
}

.Tab p {
    margin: 0;
    font-size: .7em;
}

.mate-info {
    display: inline-block;
    vertical-align: top;
}

.panelbar-wrapper {
    max-width: 35%;
    height: 100%;
    margin: 0 auto;
}


 */
